doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width' initial-scale='1.0')
    link(rel='stylesheet', href='/css/style.css')

    // HTML Meta Tags
    title Hírek
    meta(name='description' content='Maradj képben a legfrissebb hírekkel mindig!')

    // Facebook Meta Tags
    meta(property='og:url' content='https://experiment.compath.link/news')
    meta(property='og:type' content='website')
    meta(property='og:title' content='Hírek')
    meta(property='og:description' content='Maradj képben a legfrissebb hírekkel mindig!')
    meta(property='og:image' content='https://ogcdn.net/e4b8c678-7bd5-445d-ba03-bfaad510c686/v3/experiment.compath.link/H%C3%ADrek/https%3A%2F%2Fopengraph.b-cdn.net%2Fproduction%2Fdocuments%2F452454e7-efff-406a-acd4-535e79b02a6d.jpg%3Ftoken%3DZtBw5KZPFbA1hdzRzF5ZGniPDoKy8yGTAE9jipOWjxM%26height%3D801%26width%3D1200%26expires%3D33242449192/og.png')

    // Twitter Meta Tags
    meta(name='twitter:card' content='summary_large_image')
    meta(property='twitter:domain' content='experiment.compath.link')
    meta(property='twitter:url' content='https://experiment.compath.link/news')
    meta(name='twitter:title' content='Hírek')
    meta(name='twitter:description' content='Maradj képben a legfrissebb hírekkel mindig!')
    meta(name='twitter:image' content='https://ogcdn.net/e4b8c678-7bd5-445d-ba03-bfaad510c686/v3/experiment.compath.link/H%C3%ADrek/https%3A%2F%2Fopengraph.b-cdn.net%2Fproduction%2Fdocuments%2F452454e7-efff-406a-acd4-535e79b02a6d.jpg%3Ftoken%3DZtBw5KZPFbA1hdzRzF5ZGniPDoKy8yGTAE9jipOWjxM%26height%3D801%26width%3D1200%26expires%3D33242449192/og.png')

  body
    h1 Hello
      | &#32
      span.project-name #{project.name}
      | !
    h2= `This client is: ${client}`
    - const queryString = Object.keys(query).map((key) =>`${encodeURIComponent(key)} = ${encodeURIComponent(query[key])}`,).join(', ')
    h2= `Parameters: ${queryString}`
    h2= `Alias: ${alias}`
    - const deeplinkExists = deeplink.id ? "True" : "False"
    h2= `Is deeplink exists with that alias: ${deeplinkExists}`
    h2= `Redirect URL: ${redirectURL}`
    a.btn.btn--green.btn--small(href=`${redirectURL}`) Redirect