doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width' initial-scale='1.0')

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet")


    link(rel='stylesheet', href='/public/css/style.css')

    // HTML Meta Tags
    title= `${deeplink.title}`
    meta(name='description' content=`${deeplink.description}`)

    // Facebook Meta Tags
    if (deeplink.fullLink)
      meta(property='og:url' content=`https://${deeplink.fullLink}`)
    meta(property='og:type' content='website')
    if (deeplink.socialLinkAttributes.title)
      meta(property='og:title' content=`${deeplink.socialLinkAttributes.title}`)
    if (deeplink.socialLinkAttributes.description)
      meta(property='og:description' content=`${deeplink.socialLinkAttributes.description}`)
    if (deeplink.socialLinkAttributes.imageUrl)
      meta(property='og:image' content=`${deeplink.socialLinkAttributes.imageUrl}`)

    // Twitter Meta Tags
    meta(name='twitter:card' content='summary_large_image')
    if (deeplink.fullLink)
      meta(property='twitter:domain' content=`${deeplink.fullLink}`)
      meta(property='twitter:url' content=`https://${deeplink.fullLink}`)
    if (deeplink.socialLinkAttributes.title)
      meta(name='twitter:title' content=`${deeplink.socialLinkAttributes.title}`)
    if (deeplink.socialLinkAttributes.description)
      meta(name='twitter:description' content=`${deeplink.socialLinkAttributes.description}`)
    if (deeplink.socialLinkAttributes.imageUrl)
      meta(name='twitter:image' content=`${deeplink.socialLinkAttributes.imageUrl}`)

  body
    if (deeplink.redirectBehavior === "auto")
      div(style="display: none;" data-redirect-url=`${redirectURL}` id="redirectData")
    else
      div.container
        div.column
          div.titleContainer
            h1= `${project.name}`
            h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        div.column
          img(src='/public/img/phone.png')
      .section
        if (deeplink.campaignSettings.title)
          h2= `${deeplink.campaignSettings.title}`
        if (deeplink.campaignSettings.description)
          p= `${deeplink.campaignSettings.description}`
      .section
        h2 Developer information
        .card
          h2
            span.bold This client is:
            |  #{client}
          - const queryString = Object.keys(query).map((key) =>`${encodeURIComponent(key)} = ${encodeURIComponent(query[key])}`,).join(', ')
          h2.wrapText
            span.bold Parameters:
            |  #{queryString}
          h2.wrapText
            span.bold Alias:
            |  #{alias}
          - const deeplinkExists = deeplink.id ? "True" : "False"
          h2.wrapText
            span.bold Is deeplink exists with that alias:
            |  #{deeplinkExists}
          h2.wrapText
            span.bold Redirect URL:
            |  #{redirectURL}
      .section
        a.btn.btn--green.btn--small(href=`${redirectURL}`) Redirect
    script(src='/public/script/script.js')